.data-points {
	display: flex;
	flex-flow: row;
	
	@include breakpoint(sm, max) {
		flex-flow: column;
	}

	&.data-points__loading {
		opacity: 0.3;
	}

	.data-point {
		width: 33.333%;
		height: 180px;
		background-color: rgba(#fff, 0.05);
		display: flex;
		flex-flow: column;
		justify-content: center;
		text-align: center;
		padding: 0rem 1rem;
		border-radius: 8px;
		transition: 200ms all ease-in-out;
		
		@include breakpoint(sm, max) {
			height: 120px;
		}
		
		&:hover {
			cursor: pointer;
			background-color: rgba(#fff, 0.07);
			box-shadow: 0 2px 20px 0px rgba(#000, 0.5);
		}
		
		@include breakpoint(sm, max) {
			width: 100%;
			
			&:not(:last-of-type) {
				margin-bottom: 1rem;
			}
		}

		&:not(:last-of-type) {
			margin-right: 1rem;
		}

		h3 {
			margin: 0;
			font-size: 1.7rem;
			color: #FFF;
			
			@include breakpoint(sm, max) {
				font-size: 2rem;
			}
		}

		.data-point__title {
			color: rgba(#fff, 0.6);
			text-transform: uppercase;
			font-size: 0.7rem;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 0.5rem 0 0 0;
		}

		.data-point__new {
			font-weight: bold;
			
			&.negative {
				color: red;
			}

			&.good {
				color: green;
			}

			&.positive {
				color: green;
				text-indent: -9999px;
				position: relative;
				
				&:before {
					content: "Nespremenjeno";
					display: flex;
					align-items: center;
					justify-content: center;
					color: rgba(#fff, 0.3);
					text-transform: uppercase;
					font-size: 0.6rem;
					text-indent: 0;
					position: absolute;
					top: 3px;
					left: 50%;
					transform: translateX(-50%);
					width: 100px;
					height: 19px;
					background-color: rgba(#fff, 0.05);
					border-radius: 3px;
				}
			}
		}
	}	
}