.App {
  display: flex;
  align-items: center;

  .list {
    width: 80%;
    display: flex;
    flex-flow: column;

    .list__head {
      display: flex;
      flex-flow: row;

      div {
        width: 33.33%;
      }
    }

    .items {
      display: flex;
      flex-flow: column;

      .item {
        display: flex;
        flex-flow: row;

        span {
          width: 33.333%;
        }
      }
    }

  }
}