.App {
  display: flex;
  align-items: center;

  .list {
    width: 80%;
    display: flex;
    flex-flow: column;

    .list__head {
      display: flex;
      flex-flow: row;

      div {
        width: 25%;
        font-weight: bold;
        background-color: rgba(#000, 0.05);
        padding: 0.5em;
      }
    }

    .items {
      display: flex;
      flex-flow: column;

      .item {
        display: flex;
        flex-flow: row;

        span {
          width: 25%;
        }
      }
    }

  }
}