.AdminPage {
	padding: 0 2rem;
	
	h2, p {
		color: #FFF;
	}

	.AdminPage-drzave {
		width: 100%;
		float: left;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		
		.AdminPage-drzave__drzava {
			width: calc(33.333% - 1rem);
			margin-bottom: 1rem;
			background-color: rgba(#fff, 0.05);
			
			&:not(:nth-child(3n)) {
				margin-right: 1rem;
			}
			
			.drzava-ime {
				display: flex;
				flex-flow: column;
				text-align: center;
				padding: 1rem;
				margin-bottom: 1px;
				border-bottom: 1px solid rgba(#fff, 0.1);
				
				span {
					font-weight: bold;
					color: #FFF;
					margin-bottom: 0.3rem;
					font-size: 1.4rem;
				}

				small {
					font-size: 0.7rem;
					color: rgba(#fff, 0.6);
				}
			}

			.drzava-actions {
				width: 100%;
				display: flex;
				flex-flow: row;
				
				span {
					width: 50%;
					text-align: center;
					color: #FFF;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.7rem;
					padding: 1rem 0;
					cursor: pointer;
					transition: 200ms all ease-in-out;
				}

				.drzava-uredi {
					background-color: rgba(30, 200, 50, 0);
					
					&:hover {
						background-color: rgba(30, 200, 50, 1);
					}
				}

				.drzava-izbrisi {
					background-color: rgba(200, 20, 50, 0);
					
					&:hover {
						background-color: rgba(200, 20, 50, 1);
					}
				}
			}
		}
	}
}