.AdminPage {
	padding: 0 2rem;
	
	h2 {
		color: #FFF;
	}

	.AdminPage__ips {
		display: flex;
		flex-flow: column;
		
		.AdminPage__ips--ip {
			padding: 1rem;
			display: flex;
			flex-flow: row;
			align-items: center;
			cursor: pointer;
			transition: 200ms all ease-in-out;

			&:hover {
				background-color: rgba(#fff, 0.05);
			}
			
			&:not(:last-child) {
				border-bottom: 1px solid rgba(#fff, 0.05);
			}
			
			.ip__address {
				font-size: 1rem;
				font-weight: bold;
				color: #FFF;
				margin-right: 0.3rem;
			}

			.ip__time {
				font-size: 0.6rem;
				color: rgba(#fff, 0.6);
			}
		}
	}
}