.Subpage-country {
	margin-bottom: 2rem;
	
	.Subpage-country__head {
		display: flex;
		flex-flow: row;
		align-items: center;

		img {
			width: 30px;
			margin-right: 0.5rem;
		}

		.Subpage-country__title {
			color: #FFF;
		}
	}
	
	.Subpage-country__back {
		color: #FFF;
		display: flex;
		flex-flow: row;
		align-items: center;
		opacity: 0.8;
		cursor: pointer;
		transition: 200ms all ease-in-out;
		
		&:hover {
			opacity: 1;
			
			.fa {
				transform: translateX(-2px);
			}
		}
		
		.fa {
			font-size: 0.7rem;
			margin-right: 0.3rem;
			transition: 200ms all ease-in-out;
		}

		span {
			font-size: 0.8rem;
			font-weight: bold;
			line-height: 0;
			margin-top: 1px;
		}
	}

	.Subpage-country__data {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		
		@include breakpoint(lg, min) {
			flex-flow: row;
		}
		
		.data-points {
			width: 100%;
			margin-bottom: 1rem;
			
			@include breakpoint(lg, min) {
				width: 70%;
				margin-right: 1rem;
			}
		}

		.country__info {
			width: 100%;
			background-color: rgba(#fff, 0.1);
			padding: 1.5rem;
			border-radius: 6px;
			position: relative;
			
			@include breakpoint(lg, min) {
				width: 30%;
			}
			
			* {
				z-index: 2;
			}
			
			.country__info--icon {
				position: absolute;
				width: 160px;
				height: 160px;
				top: 50%;
				right: 1rem;
				transform: translateY(-50%);
				z-index: 1;
				color: rgba(#fff, 0.05);
			}
			
			.country__info--title {
				font-size: 1.3rem;
				color: #FFF;
				margin: 0 0 1rem 0;
			}
			
			.country__info--item {
				margin: 0 0 0.6rem;
				padding: 0;
				color: rgba(#fff, 0.8);
				font-size: 0.9rem;
				display: flex;
				flex-flow: row;
				align-items: center;
				
				span {
					font-weight: bold;
					color: #FFF;
					margin-left: 0.3rem;
				}

				.item--question__tooltip {
					width: 100%;
					font-size: 1rem;
					line-height: 1.7rem;
					
					@include breakpoint(lg, min) {
						width: 50%;
					}
				}

				.item--question {
					margin-left: 0.5rem;
					display: flex;
					align-items: center;
					justify-content: center;
					color: rgba(#fff, 0.7);
					border-radius: 100%;
					cursor: pointer;
					transition: 200ms all ease-in-out;
					
					&:hover {
						color: #FFF;
					}
					
					.item--question__icon {
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}

	.Graph__head {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		
		.Graph__head--title {
			color: #FFF;
			flex-shrink: 0;
		}

		.Graph__select {
			display: flex;
			flex-flow: row;
			align-items: center;
			width: 300px;
			
			p {
				margin: 0;
				padding: 0;
				font-weight: bold;
			}
			
			.select_range {
				width: 100%;
				display: flex;
				position: relative;
				background: lighten($black, 4%);
				margin-left: 0.5rem;
				border-radius: 4px;
				
				&:hover {
					background: lighten($black, 5%);

					.select_range--icon {
						opacity: 1;
					}
				}

				.select_range--select {
					width: 100%;
					background: transparent;
					border: none;
					color: #FFF;
					font-size: 1.2rem;
					font-weight: 900;
					outline-style: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: '';
					padding: 0 1rem;
					height: 40px;
					border-radius: 4px;
					position: relative;
					z-index: 2;
					cursor: pointer;
					letter-spacing: 1px;
					transition: 200ms all ease-in-out;
					
					option {
						color: #000;
					}
				}

				.select_range--icon {
					position: absolute;
					top: 50%;
					right: 0;
					height: 100%;
					transform: translateY(-50%);
					cursor: pointer;
					padding: 0rem 1rem;
					color: #FFF;
					display: flex;
					align-items: center;
					justify-content: center;
					z-index: 1;
					opacity: 0.8;
					transition: 200ms all ease-in-out;
				}
			}
		}
	}


	.Subpage-country__graph {
		margin-top: 2rem;
		color: #FFF;
		
		h2 {
			margin-bottom: 2rem;
		}

		.Subpage-country__graph--empty {
			background-color: rgba(50, 130, 220, 0.6);
			padding: 1.5rem 1.5rem;
			margin-bottom: 2rem;
			border-radius: 4px;
			box-shadow: 0 3px 15px 0 rgba(#000, 0.1);
			display: none;
			
			&.visible {
				display: none;
			}
			
			i {
				margin-right: 1rem;
			}
		}
	}

	.Subpage-country__map {
		margin-bottom: 5rem;
		
		.map-element {
			box-shadow: 0 5px 20px 0 rgba(#000, 0.14);
			border-radius: 4px;
			overflow: hidden;
		}
	}
}