@import "https://fonts.googleapis.com/css?family=Inter&display=swap";
@import "./loader/loaders.scss";
@import "./util/breakpoints.scss";

body {
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


.App {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	position: relative;
	transition: 200ms all ease-in-out;
		
	&.light {

		background-color: #fff;
		
		.logo {
			
			h1 {
				color: #000;
			}

			h2 {
				color: rgba(#000, 0.5);
			}
		}

		.mode__button {
			color: rgba(#000, 0.7);
			background-color: rgba(#000, 0.06);
			
			&:hover {
				background-color: rgba(#000, 0.08);
			}
		}

		section {
			
			h3 {
				color: rgba(#000, 0.7);
			}

			.data__update {
				color: rgba(#000, 0.5);
			}
		}

		.list {
			
			.list__head {
				background-color: #ddd;
				
				div {
					
					&:hover {
						background-color: rgba(#000, 0.04);
					}
				}
			}

			.items {
				
				.listItem{
					background-color: rgba(#000, 0.02);
					
					&:hover {
						background-color: rgba(#000, 0.04);
					}

					&:not(:last-child) {
						border-bottom: 1px solid rgba(#000, 0.09);
					}

					.listItem__cell {
						
						&:not(:last-child) {
							border-right: 1px solid rgba(#000, 0.09);
						}
					}
				}
			}
		}
	}
	
	&.dark {
		background-color: rgba(#000, 0.95);
		
		.logo {
			
			h1 {
				color: #FFF;
			}

			h2 {
				color: rgba(#fff, 0.5);
			}
		}

		.mode__button {
			color: #FFF;
			background-color: rgba(#fff, 0.06);
			
			&:hover {
				background-color: rgba(#fff, 0.08);
			}
		}

		section {
			
			h3 {
				color: #fff;
			}

			.data__update {
				color: rgba(#fff, 0.3);
			}
		}

		.list {
			
			.list__head {
				background-color: #292929;
				
				div {
					color: #FFF;
					
					&:hover {
						background-color: rgba(#fff, 0.04);
					}
				}
			}

			.items {
				
				.listItem {
					color: #FFF;
					background-color: rgba(#fff, 0.02);
					
					&:hover {
						background-color: rgba(#fff, 0.04);
					}

					&:not(:last-child) {
						border-bottom: 1px solid rgba(#fff, 0.1);
					}

					.listItem__cell {
						
						&:not(:last-child) {
							border-right: 1px solid rgba(#fff, 0.1);
						}
					}
				}
			}
		}
	}

	.main__header {
		padding: 2rem 2rem 0 2rem;
		display: flex;
		flex-flow: row;
		align-items: center;
		margin-bottom: 3rem;
	
		@include breakpoint(sm, max) {
			flex-flow: column;
			padding: 2rem 1rem 1rem;
			margin-bottom: 0;
		}

		.logo {
			width: 100%;

			@include breakpoint(sm, max) {
				margin-bottom: 1rem;
				text-align: center;
			}
			
			h1 {
				font-size: 2rem;
				font-weight: 800;
				text-transform: uppercase;
				margin: 0 0 0.2rem;
				padding: 0;
				transition: 200ms color ease-in-out;
			}

			h2 {
				font-size: 1rem;
				font-weight: 400;
				margin: 0;
				padding: 0;
				transition: 200ms color ease-in-out;
			}
		}

		.share_div {
			padding: 0 rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			
			@include breakpoint(sm, max) {
				margin-bottom: 1rem;
				justify-content: center;
			}

			div {

				&:first-child {
					margin-right: 1rem;
				}
			}
		}

		.mode {
			display: none;
			
			.mode__button {
				width: 10rem;
				height: 3rem;
				border-radius: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 200ms all ease-in-out;
				
				i {
					margin-right: 1rem;
				}
				
			}
		}
	}
	

	.list {
		min-height: 50vh;
		max-height: 80vh;
		overflow: hidden;
		display: flex;
		flex-flow: column;
		padding: 0 2rem;
		position: relative;
		margin-bottom: 2rem;
		transition: 200ms all ease-in-out;
		
		&.expanded {
			max-height: 100%;
			overflow: visible;
			
			.see-more {
				opacity: 0;
			}
		}
		
		@include breakpoint(sm, max) {
			padding: 0;
		}
		
		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			.loader {
				@include loader06;
			}
		}

		.see-more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 80%;
			background-image: linear-gradient(rgba(#000, 0) 0%, rgba(#000, 1) 70%);
			z-index: 100;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			cursor: pointer;
			opacity: 1;
			transition: 500ms all ease-out;
			
			&:hover {
				
				span {
					color: #FFF;
				}
			}
			
			span {
				color: rgba(#fff, 0.7);
				margin-bottom: 2rem;
				font-weight: bold;
				transition: 200ms all ease-in-out;
			}
		}

		.list__head {
			display: flex;
			flex-flow: row;
			position: sticky;
			transition: 200ms background-color ease-in-out;
			top: 0;
			z-index: 20;

			div {
				font-weight: bold;
				padding: 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				transition: 200ms background-color ease-in-out;
				
				@include breakpoint(sm, max) {
					padding: 0.75rem 0.5rem;
				}
				
				&:hover {
					user-select: none;
					cursor: pointer;
				}

				&.list__head--state {
					width: 20%;
					
					@include breakpoint(sm, max) {
						width: 30%;
					}
		
				}

				&.list__head--confirmed {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
					}
		
				}

				&.list__head--deaths {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
					}
		
				}

				&.list__head--recovered {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
					}
		
				}

				&.list__head--critical {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
						display: none;
					}
		
				}

				span {
					font-size: 0.8rem;
				}

				i {
					font-size: 0.7rem;
				}
			}
		}

		.items {
			display: flex;
			flex-flow: column;
			counter-reset: section;

			.listItem {
				display: flex;
				flex-flow: row;
				transition: 200ms background-color ease-in-out;
				counter-increment: section;
				&:hover {
				}

				.listItem__cell {
					
					&:not(:last-child) {
						border-right: 1px solid rgba(#000, 0.05);
					}
				}

				.listItem__cell {
					width: 25%;
					padding: 1rem 1rem;
					font-size: 0.8rem;
					display: flex;
					flex-flow: row;
					justify-content: center;
					align-items: center;
					transition: 200ms background-color ease-in-out;
					
					.new_cases {
						margin-left: 0.2rem;
						font-weight: bold;
						font-size: 0.7rem;
						
						&.positive {
							color: rgba(#f00, 1);
						}

						&.negative {
							color: rgba(#4ad71f, 1);
						}
					}
				}

				.item__state {
					width: 20%;
					position: relative;
					padding: 0 calc(1rem) 0 calc(1rem + 20px);
					
					@include breakpoint(sm, max) {
						width: 30%;
					}

					&:before {
						content: counter(section);
						position: absolute;
						top: 50%;
						left: 1rem;
						width: 20px;
						height: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: bold;
						font-size: 0.7rem;
						color: rgba(#fff, 0.5);
						background: rgba(#fff, 0.08);
						transform: translateY(-50%);
						border-radius: 4px;
					}

					span {

						&:first-child {
							font-weight: bold;
							margin-right: 0.2rem;
						}

						&:last-child {
						}
					}
				}

				.item__confirmed {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.333%;
					}
				}

				.item__deaths {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.333%;
					}
				}

				.item__recovered {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.333%;
					}
				}

				.item__critical {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.333%;
						display: none;
					}
				}
			}
		}
	}

	.podatki {
		display: flex;
		flex-flow: column;
		
		.section__header {
			padding: 0 2rem;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			
			@include breakpoint(sm, max) {
				padding: 0 1rem;
			}

			h3 {
				transition: 200ms all ease-in-out;
				
				@include breakpoint(sm, max) {
					font-size: 1rem;
				}
			}

			.date {
				display: flex;
				flex-flow: row;
				align-items: center;
				
				i {
					color: rgba(#fff, 0.7);
					transition: 200ms all ease-in-out;
					margin-right: 0.5rem;
					font-size: 0.7rem;
					
					@include breakpoint(sm, max) {
						font-size: 0.5rem;
					}
					
					&:hover {
						color: rgba(#fff, 0.85);
						cursor: pointer;
					}
				}

				.data__updated {
					font-size: 0.7rem;
					color: rgba(#fff, 0.7);
					margin: 0.1rem 0 0;
					
					@include breakpoint(sm, max) {
						font-size: 0.6rem;
					}
				}
			}

		}	

		.list {
			width: 100%;
		}

		.graf {
		}
	}

	.all-data {
		width: 100%;
		padding: 0 2rem;
		display: flex;
		flex-flow: column;
		margin: 0 0 2rem 0;
		
		@include breakpoint(sm, max) {
			padding: 0 1rem;
		}
		
		.all-data__header {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;
			
			h2 {
				color: #FFF;
				font-size: 1.2rem;
				margin: 0 0.5rem 0 0;
				
				@include breakpoint(sm, max) {
					font-size: 1rem;
				}
			}

			p {
				margin: 0;
				font-size: 0.7rem;
				color: rgba(#fff, 0.6);
				
				@include breakpoint(sm, max) {
					font-size: 0.6rem;
				}

				span {
					@include breakpoint(sm, max) {
						display: none;
					}
				}
			}
		
		}
		
		.data-points {
			display: flex;
			flex-flow: row;
			
			@include breakpoint(sm, max) {
				flex-flow: column;
			}
		
			.data-point {
				width: 33.333%;
				background-color: rgba(#fff, 0.05);
				display: flex;
				flex-flow: column;
				text-align: center;
				padding: 2rem 1rem;
				border-radius: 4px;
				
				@include breakpoint(sm, max) {
					width: 100%;
					
					&:not(:last-of-type) {
						margin-bottom: 1rem;
					}
				}

				&:not(:last-of-type) {
					margin-right: 1rem;
				}

				h3 {
					margin: 0;
					font-size: 2rem;
				}

				span {
					color: rgba(#fff, 0.6);
					text-transform: uppercase;
					font-size: 0.7rem;
					font-weight: bold;
					letter-spacing: 2px;
				}
			}
		}
	}
}