@import "https://fonts.googleapis.com/css?family=Inter&display=swap";
@import "./loader/loaders.scss";
$black: #121212;

// utl
@import "./util/_animations.scss";
@import "./util/breakpoints.scss";
@import "./util/mixins.scss";

//components
@import "./components/data-points.scss",
		"./components/loader.scss",
		"./components/graph.scss";
		
// pages
@import "./pages/pages.scss";


body {
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
}

.ol-overlaycontainer-stopevent {
	width: auto !important;
	height: auto !important;
}
.ol-attribution {
	display: none;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	position: relative;
	transition: 200ms all ease-in-out;
	
	a {
		text-decoration: none;
	}

	.newBar {
		width: 100%;
		background: #2A86CC;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		padding: 0.8rem 0;
		color: #FFF;
		cursor: pointer;
		transition: 200ms all ease-in-out;
		position: fixed;
		z-index: 99999;
		left: 0;
		bottom: 0;
		box-shadow: 0 -2px 10px 0px rgba(darken(#2A86CC, 25%), 0.1), 0 -2px 5px 0 rgba(darken(#2A86CC, 25%), 0.25);

		&:hover {
			background-color: darken(#2A86CC, 3%);
			
			.newBar__icon {
				transform: translateX(0.25rem);
			}
		}

		.newBar__notification {
			color: #FFF;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 13px;
			left: 1rem;
			animation: ring 7s ease-in-out infinite;
			transform-origin: 50% 4px;
			display: none;
			
			@include breakpoint(md, min) {
				display: block;
			}
		}
		
		span {
			color: #fff;
			margin-right: 0.5rem;
			font-size: 0.7rem;
			
			@include breakpoint(md, min) {
				font-size: 0.9rem;
			}
			
			a {
				color: #fff;
				
			}
		}

		.newBar__icon {
			width: 12px;
			height: 12px;
			transition: 200ms all ease-in-out;
		}
	}
		
	&.light {
		background-color: rgba(#000, 0.02);
		
		.AdminPage {
			* {
				color: #000 !important;
			}

			.AdminPage__ips--ip {
				border-bottom: 1px solid rgba(#000, 0.1);
			}
		}
		
		.logo {
			
			h1 {
				color: #000;
			}

			h2 {
				color: rgba(#000, 0.5);
			}
		}

		.mode__button {
			color: rgba(#000, 0.7);
			background-color: rgba(#000, 0.06);
			
			&:hover {
				background-color: rgba(#000, 0.065);
			}

			&:active {
				background-color: rgba(#000, 0.15);
			}
		}

		section {
			
			h3 {
				color: rgba(#000, 0.7);
			}

			.data__update {
				color: rgba(#000, 0.5);
			}
		}

		.podatki {
			border-color: rgba(#000, 0.1);
		}

		.below-graph {
			
			.below-graph__updated {
				color: rgba(#000, 0.5);
			}

			.more-button {
				background-color: #000;
				color: #fff;
			}
		}


		.all-data {

			.all-data__header {
				
				h2 {
					color: rgba(#000, 0.8);
				}

				span {
					color: #000;
				}

				p {
					color: rgba(#000, 0.3);
				}
			}
		}

		.country__info {
			background-color: rgba(#000, 0.1);
			
			.country__info--icon {
				color: rgba(#000, 0.05);
			}

			.country__info--title {
				color: rgba(#000, 0.9);
			}

			.country__info--item {
				color: rgba(#000, 0.7);
				
				span {
					color: #000;
				}

				.item--question {
					color: rgba(#000, 0.5);
					
					&:hover {
						color: rgba(#000, 0.8);
					}
				}
			}
		}

		.data-points {
			
			.data-point {
				background-color: rgba(#000, 0.05);
				
				&:hover {
					background-color: rgba(#000, 0.08);
					box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.03);
				}
				
				h3 {
					color: rgba(#000, 0.7);
				}

				.data-point__new {
					
					&:before {
						background-color: rgba(#000, 0.1);
						color: rgba(#000, 0.4);
					}
				}

				.data-point__title {
					color: rgba(#000, 0.5);
				}
			}
		}

		.graf {
			
			.section__header {
				
				h2 {
					color: rgba(#000, 0.7);
				}

				.select_country {
					background-color: rgba(#000, 0.05);
					
					&:hover {
						background-color: rgba(#000, 0.065);
					}
					
					&:active {
						background-color: rgba(#000, 0.1);
					}
					
					.select_country--select {
						color: rgba(#000, 0.9);
					}

					.select_country--icon {
						color: #000;
					}
				}
			}
		}

		.list {

			.see-more {
				background-image: linear-gradient(rgba(#fff, 0) 0%, #fff 70%);
				
				&:hover {
					
					span {
						background-color: #000;
						color: #FFF;
						box-shadow: 0 5px 15px 0 rgba(#000, 0.15);
					}
				}
				
				span {
					background-color: rgba(#000, 0.8);
					color: #FFF;
					
					&:hover {
						background-color: #000;
						color: #FFF;
					}
					
				}
			}
			
			.list__head {
				background-color: #ddd;
				
				div {
					
					&:hover {
						background-color: rgba(#000, 0.04);
					}
				}
			}

			.items {
				
				a {
					border-bottom: 1px solid rgba(#000, 0.1);
					color: rgba(#000, 0.8);
					
					&:hover {
						
						.listItem {
							.listItem__cell {
								&.item__state {
									.item__state--name {
										border-bottom: 1px solid rgba(#000, 0.4);
									}
								}
							}
						}
					}

					.listItem {
						background-color: rgba(#000, 0.02);
						height: 48px;
						
						&:hover {
							background-color: rgba(#000, 0.04);
						}

						&:not(:last-child) {
							border-bottom: 1px solid rgba(#000, 0.09);
						}

						.listItem__cell {
							
							&:not(:last-child) {
								border-right: 1px solid rgba(#000, 0.09);
							}

							&.item__state {
								
								&:before {
									background-color: rgba(#000, 0.05);
									color: rgba(#000, 0.7);
								}
							}
						}
					}
					
				}
			}
		}

		.Subpage {

			.Subpage-country__back {
				color: rgba(#000, 0.9);
			}
			
			h2 {
				color: rgba(#000, 0.8);
			}

			.whiteModeBg {
				position: absolute;
				top: -25px;
				left: -10px;
				width: calc(100% + 25px);
				height: calc(100% + 15px);
				z-index: -2;
				background-color: rgba(#000, 0.85);
				border-radius: 4px;
				box-shadow: 0 5px 20px 0 rgba(#000, 0.5);
			}

			.Subpage-country {
				
				.Graph__head {

					.Graph__select {
						color: #000;
						
						p {
							color: #000;
						}
					}
				}
			}
		}
	}
	
	&.dark {
		background-color: $black;
		
		.logo {
			
			h1 {
				color: #FFF;
			}

			h2 {
				color: rgba(#fff, 0.5);
			}
		}

		.mode__button {
			color: #000;
			background-color: rgba(#fff, 0.90);
			padding: 1rem 2rem;
			border-radius: 4px;
			
			&:hover {
				background-color: rgba(#fff, 1);
			}
		}

		section {
			
			h3 {
				color: #fff;
			}

			.data__update {
				color: rgba(#fff, 0.3);
			}
		}

		.list {
			
			.list__head {
				background-color: #292929;
				
				div {
					color: #FFF;
					
					&:hover {
						background-color: rgba(#fff, 0.04);
					}
				}
			}

			.items {
				
				.listItem {
					color: #FFF;
					background-color: rgba(#fff, 0.02);
					
					&:hover {
						background-color: rgba(#fff, 0.04);
					}

					&:not(:last-child) {
						border-bottom: 1px solid rgba(#fff, 0.1);
					}

					.listItem__cell {
						
						&:not(:last-child) {
							border-right: 1px solid rgba(#fff, 0.1);
						}
					}
				}
			}
		}
	}

	.notFound {
		padding: 0 2rem;
		color: #FFF;
	}

	.main__header {
		padding: 2rem 2rem 0 2rem;
		display: flex;
		flex-flow: row;
		align-items: center;
		margin-bottom: 3rem;
	
		@include breakpoint(sm, max) {
			flex-flow: column;
			padding: 2rem 1rem 1rem;
			margin-bottom: 0;
		}

		.logo {
			width: 100%;
			text-decoration: none;

			@include breakpoint(sm, max) {
				margin-bottom: 1rem;
				text-align: center;
			}

			a {
				text-decoration: none;
			}
			
			h1 {
				font-size: 2rem;
				font-weight: 800;
				text-transform: uppercase;
				margin: 0 0 0.2rem;
				padding: 0;
				transition: 200ms color ease-in-out;
				text-decoration: none;
			}

			h2 {
				font-size: 1rem;
				font-weight: 400;
				margin: 0;
				padding: 0;
				transition: 200ms color ease-in-out;
			}
		}

		.share_div {
			padding: 0 0em;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-shrink: 0;
			
			@include breakpoint(sm, max) {
				margin-bottom: 1rem;
				justify-content: center;
			}

			div {

				&:first-child {
					margin-right: 1rem;
				}
			}

			.share_div__fb {
				background-color: #1777f2 !important;
				border-radius: 3px;
				height: 20px;
				font-size: 11px;
				color: #FFF;
				width: 135px;
				display: flex;
				flex-flow: row;
				align-items: center;
				justify-content: center;
				padding: 0 0px !important;
				margin-right: 1rem;
				
				&:hover {
					background-color: lighten(#1777f2, 5%) !important;
				}
				
				img {
					width: 12px;
					height: 12px;
					margin-right: 5px;
				}

				span {
					font-size: 11px;
					color: #FFF;
					font-weight: 800;
					margin-right: 4px;
				}

				.share_div__fb--count {
					width: 27px;
					font-size: 10px !important;
					font-weight: 400 !important;
					
					span {
						font-size: 10px !important;
						font-weight: 400;
					}
				}
			}

			.share_div__tw {
				background-color: #1b95df !important;
				border-radius: 3px;
				font-size: 11px;
				color: #FFF;
				width: 76px;
				height: 28px;
				display: flex;
				flex-flow: row;
				align-items: center;
				justify-content: center;
				padding: 0 0px !important;
				margin-right: 1rem;
				
				&:hover {
					background-color: lighten(#1b95df, 5%) !important;
				}
				
				i {
					color: #FFF;
					font-size: 15px;
					margin-right: 5px;
				}

				span {
					font-size: 11px;
					color: #FFF;
					font-weight: 800;
					margin-right: 4px;
				}

			}
		}

		.mode {
			flex-shrink: 0;
			
			.mode__button {
				width: 11.5rem;
				height: 3rem;
				border-radius: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 200ms all ease-in-out;
				font-size: 0.9em;
				font-weight: bold;
				
				&:hover {
					box-shadow: 
						0 4px 8px 0 rgba(#000, 0.05),
						0 0 2px 0 rgba(#000, 0.03),
						0 0 1px 0 rgba(#000, 0.02);	
				}

				i {
					margin-right: 0.7rem;
					font-size: 1rem;
				}
				
			}
		}

		.donate {
			margin-left: 1rem;
			
			@include breakpoint(sm, max) {
				width: 100%;
				margin-left: 0rem;
				margin-top: 1rem;
				justify-content: center;
			}
		}
	}
	
	.list {
		min-height: 50vh;
		max-height: 80vh;
		overflow: hidden;
		display: flex;
		flex-flow: column;
		padding: 0 2rem;
		position: relative;
		margin-bottom: 2rem;
		transition: 200ms all ease-in-out;
		
		&.expanded {
			max-height: 100%;
			overflow: visible;
			
			.see-more {
				opacity: 0;
				visibility: hidden;
			}
		}
		
		@include breakpoint(sm, max) {
			padding: 0;
		}
		
		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -51%);
			
			.loader {
				@include loader06;
			}
		}

		.see-more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 35%;
			background-image: linear-gradient(rgba($black, 0) 0%, $black 70%);
			z-index: 100;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			cursor: pointer;
			opacity: 1;
			transition: 500ms all ease-out;
			
			&:hover {
				
				span {
					color: #000;
					background: #FFF;
					transform: scale(1.05) translateY(-2px);
				}
			}
			
			span {
				color: rgba(#000, 0.7);
				margin-bottom: 2rem;
				font-weight: bold;
				transition: 150ms all ease-in-out;
				background: rgba(#fff, 0.95);
				padding: 0.7rem 1.5rem;
				font-size: 0.8rem;
				border-radius: 4px;
				transform: scale(1.01) translateY(0px);
				
				i {
					margin-right: 0.5rem;
				}
			}
		}

		.list__head {
			display: flex;
			flex-flow: row;
			position: sticky;
			transition: 200ms background-color ease-in-out;
			top: 0;
			z-index: 20;

			div {
				font-weight: bold;
				padding: 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				transition: 200ms background-color ease-in-out;
				
				@include breakpoint(sm, max) {
					padding: 0.75rem 0.5rem;
				}
				
				&:hover {
					user-select: none;
					cursor: pointer;
				}

				&.list__head--state {
					width: 20%;
					
					@include breakpoint(sm, max) {
						width: 30%;
					}
		
				}

				&.list__head--confirmed {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
					}
		
				}

				&.list__head--deaths {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
					}
		
				}

				&.list__head--recovered {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
					}
		
				}

				&.list__head--critical {
					width: 20%;
					@include breakpoint(sm, max) {
						width: 23.3333%;
						display: none;
					}
		
				}

				span {
					font-size: 0.8rem;
				}

				i {
					font-size: 0.7rem;
				}
			}
		}

		.items {
			display: flex;
			flex-flow: column;
			counter-reset: section;
			
			a {
				border-bottom: 1px solid rgba(#fff, 0.1);
				
				&:hover {
					
					.listItem {
						
						.item__state {

							.item__state--name {
								border-bottom: 1px solid #fff;
							}
						}
					}
				}
				.listItem {
					display: flex;
					flex-flow: row;
					transition: 200ms background-color ease-in-out;
					counter-increment: section;
					&:hover {
					}

					.listItem__cell {
						
						&:not(:last-child) {
							border-right: 1px solid rgba(#000, 0.05);
						}
					}

					.listItem__cell {
						width: 25%;
						padding: 1rem 1rem;
						font-size: 0.8rem;
						display: flex;
						flex-flow: row;
						justify-content: center;
						align-items: center;
						transition: 200ms background-color ease-in-out;
						
						.new_cases {
							margin-left: 0.2rem;
							font-weight: bold;
							font-size: 0.7rem;
							
							&.positive {
								color: rgba(#f00, 1);
							}

							&.negative {
								color: rgba(#4ad71f, 1);
							}
						}
					}

					.item__state {
						width: 20%;
						position: relative;
						padding: 0 0 0 3rem;
						justify-content: start;
												
						a {
							display: flex;
							flex-flow: row;
							align-items: center;
							justify-content: center;
							color: #FFF;
							width: 100%;
							height: 100%;
							padding: 0 calc(1rem) 0 calc(1rem + 20px);
							
						}
						
						@include breakpoint(sm, max) {
							width: 30%;
							padding: 0 0 0 2rem;
						}

						&:before {
							content: counter(section);
							position: absolute;
							top: 50%;
							left: 1rem;
							width: 20px;
							height: 20px;
							display: flex;
							align-items: center;
							justify-content: center;
							font-weight: bold;
							font-size: 0.7rem;
							color: rgba(#fff, 0.5);
							background: rgba(#fff, 0.08);
							transform: translateY(-50%);
							border-radius: 4px;
							
							@include breakpoint(sm, max) {
								left: 0.3rem;
							}
						}

						.item__state--flag {
							width: 20px;
							margin-right: 0.3rem;
							
							@include breakpoint(sm, max) {
								display: none;
							}
						}

						.item__state--name {
							display: block;
							border-bottom: 0px solid rgba(#fff, 0);
							transition: 200ms all ease-in-out;
							max-width: 70%;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							font-weight: bold;
							
							@include breakpoint(sm, max) {
								max-width: 90%;
							}

							&:first-child {
								font-weight: bold;
								margin-right: 0.2rem;
							}

							&:last-child {
							}
						}
					}

					.item__confirmed {
						width: 20%;
						@include breakpoint(sm, max) {
							width: 23.333%;
						}
					}

					.item__deaths {
						width: 20%;
						@include breakpoint(sm, max) {
							width: 23.333%;
						}
					}

					.item__recovered {
						width: 20%;
						@include breakpoint(sm, max) {
							width: 23.333%;
						}
					}

					.item__critical {
						width: 20%;
						@include breakpoint(sm, max) {
							width: 23.333%;
							display: none;
						}
					}
				}
				
			}
		}
	}

	.podatki {
		display: flex;
		flex-flow: column;
		border-top: 1px solid rgba(#fff, 0.1);
		margin-top: 2rem;
		padding-top: 1rem;
		
		.section__header {
			padding: 0 2rem;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1rem;
			
			@include breakpoint(sm, max) {
				flex-flow: column;
				padding: 0 1rem;
				margin-bottom: 1rem;
			}

			h3 {
				transition: 200ms all ease-in-out;
				font-size: 1.4rem;
				
				@include breakpoint(sm, max) {
					font-size: 1rem;
				}
			}

			.search__country {
				width: 100%;
				position: relative;
				
				@include breakpoint(sm, min) {
					width: 350px;
				}
				
				&:hover {
					svg {
						color: rgba(#fff, 0.8);
					}

					input {
						background-color: rgba(#fff, 0.15);
						
						@include placeholder {
							color: rgba(#fff, 0.6);
						}
					}
				}
				
				svg {
					position: absolute;
					width: 10px;
					height: 10px;
					color: rgba(#fff, 0.3);
					top: 50%;
					left: 0.8rem;
					transform: translateY(-50%);
					transition: 200ms all ease-in-out;
				}

				input {
					width: 100%;
					background-color: rgba(#fff, 0.1);
					border: none;
					padding: 0.8rem 1rem 0.8rem 2rem;
					outline-style: none;
					color: #FFF;
					font-size: 0.9rem;
					font-weight: 500;
					border-radius: 4px;
					transition: 200ms all ease-in-out;
					
					@include placeholder {
						color: rgba(#fff, 0.4);
					}
				}
			}
		}	

		.list {
			width: 100%;
			min-height: 500px;
		}
	}

	.two {
		display: flex;
		flex-flow: row;
		
		@include breakpoint(md, max) {
			flex-direction: column-reverse;
		}

		@include breakpoint(sm, max) {
			margin-bottom: 4rem;
		}
	}

	.all {
		width: 50%;
		
		@include breakpoint(md, max) {
			width: 100%;
		}
	}

	.all-data {
		width: 100%;
		display: flex;
		flex-flow: column;
		margin: 0.8rem 0 2rem 0;
		position: relative;
		
		@include breakpoint(lg, max) {
			padding: 0 2rem 0 2rem;
		}

		@include breakpoint(lg, min) {
			padding: 0 2rem 0 2rem;
		}
		@include breakpoint(md, max) {
			padding: 0 2rem;
		}

		@include breakpoint(md, min) {
			padding: 0 2rem;
		}

		@include breakpoint(sm, max) {
			padding: 0 1rem;
		}

		.all-data__header {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;
			
			h2 {
				color: rgba(#fff, 0.9);
				font-size: 1.2rem;
				margin: 0 0.5rem 0.5rem 0;
				font-weight: 500;
				
				@include breakpoint(sm, max) {
					font-size: 1rem;
				}

				span {
					text-transform: capitalize;
					font-weight: 900;
					color: #FFF;
				}
			}

			p {
				margin: 0;
				font-size: 0.7rem;
				color: rgba(#fff, 0.6);
				
				@include breakpoint(sm, max) {
					font-size: 0.6rem;
				}

				span {
					@include breakpoint(sm, max) {
						display: none;
					}
				}
			}
		
		}

		.all-data__loading {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 3rem;
			left: 2rem;
			width: calc(100% - 4rem);
			height: calc(100% - 3rem);
			border-radius: 4px;
			transition: 200ms all ease-in-out;
			
			span {
				font-size: 0.7rem;
				font-weight: bold;
				text-transform: uppercase;
				color: #FFF;
			}
		}
	}
}