@import "https://fonts.googleapis.com/css?family=Inter&display=swap";
@import "./loader/loaders.scss";
@import "./util/breakpoints.scss";

body {
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


.App {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	position: relative;
	transition: 200ms all ease-in-out;
		
	&.light {

		background-color: #fff;
		
		.logo {
			
			h1 {
				color: #000;
			}

			h2 {
				color: rgba(#000, 0.5);
			}
		}

		.mode__button {
			color: rgba(#000, 0.7);
			
			&:hover {
				background-color: rgba(#000, 0.06);
			}
		}

		section {
			
			h3 {
				color: rgba(#000, 0.7);
			}
		}

		.list {
			
			.list__head {
				background-color: #ddd;
				
				div {
					
					&:hover {
						background-color: rgba(#000, 0.04);
					}
				}
			}

			.items {
				
				.item {
					background-color: rgba(#000, 0.02);
					
					&:hover {
						background-color: rgba(#000, 0.04);
					}

					&:not(:last-child) {
						border-bottom: 1px solid rgba(#000, 0.09);
					}

				}
			}
		}
	}
	
	&.dark {
		background-color: rgba(#000, 0.95);
		
		.logo {
			
			h1 {
				color: #FFF;
			}

			h2 {
				color: rgba(#fff, 0.5);
			}
		}

		.mode__button {
			color: #FFF;
			
			&:hover {
				background-color: rgba(#fff, 0.06);
			}
		}

		section {
			
			h3 {
				color: #fff;
			}
		}

		.list {
			
			.list__head {
				background-color: #292929;
				
				div {
					color: #FFF;
					
					&:hover {
						background-color: rgba(#fff, 0.04);
					}
				}
			}

			.items {
				
				.item {
					color: #FFF;
					background-color: rgba(#fff, 0.02);
					
					&:hover {
						background-color: rgba(#fff, 0.04);
					}

					&:not(:last-child) {
						border-bottom: 1px solid rgba(#fff, 0.15);
					}

				}
			}
		}
	}

	header {
		padding: 2rem 2rem 0 2rem;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;

		.logo {
			
			h1 {
				font-size: 2rem;
				font-weight: 800;
				text-transform: uppercase;
				margin: 0 0 0.2rem;
				padding: 0;
				transition: 200ms color ease-in-out;
			}

			h2 {
				font-size: 1rem;
				font-weight: 400;
				margin: 0;
				padding: 0;
				transition: 200ms color ease-in-out;
			}
		}

		.mode {
			
			.mode__button {
				width: 3rem;
				height: 3rem;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 200ms all ease-in-out;
				
			}
		}
	}
	
	section {
		
		h3 {
			padding: 0 2rem;
			transition: 200ms all ease-in-out;
			
			@include breakpoint(sm, max) {
				padding: 0 2rem;
			}
		}
	}

	.list {
		width: 100%;
		min-height: 50vh;
		display: flex;
		flex-flow: column;
		padding: 0 2rem;
		
		@include breakpoint(sm, max) {
			padding: 0;
		}
		
		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			.loader {
				@include loader06;
			}
		}

		.list__head {
			display: flex;
			flex-flow: row;
			position: sticky;
			transition: 200ms background-color ease-in-out;
			top: 0;

			div {
				width: 25%;
				font-weight: bold;
				padding: 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				transition: 200ms background-color ease-in-out;
				
				&:hover {
					user-select: none;
					cursor: pointer;
				}

				&:last-child {
					display: none;
				}

				&.list__head--state {
					width: 40%;
				}

				&.list__head--confirmed {
					width: 20%;
				}

				&.list__head--deaths {
					width: 20%;
				}

				&.list__head--recovered {
					width: 20%;
				}

				span {
					font-size: 0.8rem;
				}

				i {
					font-size: 0.7rem;
				}
			}
		}

		.items {
			display: flex;
			flex-flow: column;

			.item {
				display: flex;
				flex-flow: row;
				transition: 200ms background-color ease-in-out;

				&:hover {
				}

				.item__cell {
					
					&:not(:last-child) {
						border-right: 1px solid rgba(#000, 0.05);
					}
				}

				.item__cell {
					width: 25%;
					padding: 1rem 1rem;
					font-size: 0.8rem;
					display: flex;
					flex-flow: column;
					justify-content: center;
					transition: 200ms background-color ease-in-out;
				}

				.item__state {
					width: 40%;
					
					span {

						&:first-child {
							font-weight: bold;
							margin-right: 0.2rem;
						}

						&:last-child {
						}
					}
				}

				.item__confirmed {
					width: 20%;
				}

				.item__deaths {
					width: 20%;
				}

				.item__recovered {
					width: 20%;
				}

				.item__date {
					display: none;
				}
			}
		}

	}
}