@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css";

@import "./loader/loaders.scss";

body {
	background-color: rgba(#000, 0.95);
	font-family: "Roboto" !important;
}

.App {
	height: 100vh;
	color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: center;
	position: relative;

	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include loader06;
	}

	.list {
		width: 95vw;
		display: flex;
		flex-flow: column;

		.list__head {
			display: flex;
			flex-flow: row;
			background-color: rgba(#fff, 0.09);

			div {
				width: 20%;
				font-weight: bold;
				padding: 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				
				&:hover {
					background-color: rgba(#fff, 0.04);
					user-select: none;
					cursor: pointer;
				}

				&:last-child {
					display: none;
				}

				span {
					font-size: 0.8rem;
				}

				i {
					font-size: 0.7rem;
				}
			}
		}

		.items {
			display: flex;
			flex-flow: column;

			.item {
				display: flex;
				flex-flow: row;

				&:hover {
					background-color: rgba(#fff, 0.04);
				}

				&:not(:last-child) {
					border-bottom: 1px solid rgba(#fff, 0.15);
				}

				.item__cell {
					width: 20%;
					padding: 1rem 1rem;
					font-size: 0.8rem;
					display: flex;
					flex-flow: column;
					justify-content: center;
				}

				.item__state {
					
					span {

						&:first-child {
							font-weight: bold;
							margin-right: 0.2rem;
						}

						&:last-child {
						}
					}
				}

				.item__date {
					display: none;
				}
			}
		}

	}
}